body {
  background-color: lightgray;
  font-family: Arial, sans-serif;
}

h1 {
  color: navy;
  text-align: center;
}
h2 {
  color:green;
}
p {
  color: darkblue;
}

button {background-color: lightblue;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: dodgerblue;
}

#result {
  font-weight: bold;
  color: green;
}
